body{
    background-color: black;
    color: white;
    font-family:monospace
}
.TypeBody{
    background-color: white;
    color:black;
    font-family:monospace;
}
.rounded-button {
    height: 200px;
    width: 400px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: monospace;
    transition: background-color 0.3s;
    font-weight: bold;
}
.rounded-button:hover {
    background-color: white;
    color:black;
    font-weight:bold;
}
table {
    font-family: monospace;
    border-collapse: collapse;
    width: 1500px;
    font-size: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
a{
    color:white;
    transition: color 0.3s;
}
a:hover{
    color:aqua;
}
#python-code {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: black;
    padding: 20px;
    border: 1px solid #ccc;
}
