.center {
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
  }
body{
    font-family: 'Jost';
    font-size: 22px;}
.mattdaniels{
    font-size: small;
}
.other_font_gang{
    font-family:"Merriweather"
}
.explanation{
    font-size:15px
}