body{
    background-color: red;
}
h1{
    color:white;
    font-family: "Bentham";
    padding-top:5%;
    padding-bottom: 5%;
    font-size:312%;
}
p{
    font-weight:1000;
    font-family: "Cabin";
    width:90%;
    padding-left:6.5%;
}